In [2]:
# Importing libraries

from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("/home/student/Desktop/crop_recommendation.csv")

In [4]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0 NaN NaN NaN    20.879744  82.002744  6.502985  202.935536  rice
1 NaN NaN NaN    21.770462  80.319644  7.038096  226.655537  rice
2 NaN NaN NaN    23.004459  82.320763  7.840207  263.964248  rice
3 NaN NaN NaN    26.491096  80.158363  6.980401  242.864034  rice
4 NaN NaN NaN    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
df.tail()

       N   P   K  temperature   humidity        ph    rainfall   label
2195 NaN NaN NaN    26.774637  66.413269  6.780064  177.774507  coffee
2196 NaN NaN NaN    27.417112  56.636362  6.086922  127.924610  coffee
2197 NaN NaN NaN    24.131797  67.225123  6.362608  173.322839  coffee
2198 NaN NaN NaN    26.272418  52.127394  6.758793  127.175293  coffee
2199 NaN NaN NaN    23.603016  60.396475  6.779833  140.937041  coffee

In [6]:
df.size

17600

In [7]:
df.shape

(2200, 8)

In [8]:
df.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [9]:
df['label'].unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [10]:
df.dtypes

N              float64
P              float64
K              float64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [11]:
df['label'].value_counts()

muskmelon      100
lentil         100
apple          100
coconut        100
kidneybeans    100
cotton         100
papaya         100
rice           100
blackgram      100
pomegranate    100
grapes         100
maize          100
watermelon     100
orange         100
mango          100
banana         100
mungbean       100
mothbeans      100
jute           100
chickpea       100
pigeonpeas     100
coffee         100
Name: label, dtype: int64

### Seperating features and target label

In [12]:
features = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = df['label']

In [13]:
# Initialzing empty lists to append all model's name and corresponding name
acc = []
model = []

In [14]:
# Splitting into train and test data

from sklearn.model_selection import train_test_split
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features,target,test_size = 0.2)

In [15]:
len(Xtrain)

1760

In [16]:
len(Xtest)

440

In [17]:
Xtrain

       N   P   K  temperature   humidity        ph    rainfall
666  NaN NaN NaN    28.880789  86.942068  6.594739   53.797325
635  NaN NaN NaN    29.245990  84.800841  6.991242   53.432289
857  NaN NaN NaN    26.030270  69.558631  7.393211   37.113958
1454 NaN NaN NaN    27.931142  93.561614  6.431971   20.661278
1139 NaN NaN NaN    29.384716  45.887447  5.727423  100.812466
...   ..  ..  ..          ...        ...       ...         ...
1590 NaN NaN NaN    22.427761  93.917224  5.893491  102.723074
1535 NaN NaN NaN    22.490951  91.702927  5.795986  124.391510
942  NaN NaN NaN    22.404235  88.150834  7.199504  109.869520
2022 NaN NaN NaN    26.874839  79.787252  6.956683  173.101710
326  NaN NaN NaN    15.773702  19.230316  5.979974  108.344141

[1760 rows x 7 columns]

# Decision Tree

In [18]:
Ytrain

666        mungbean
635        mungbean
857          lentil
1454      muskmelon
1139          mango
           ...
1590          apple
1535          apple
942     pomegranate
2022           jute
326     kidneybeans
Name: label, Length: 1760, dtype: object

In [19]:
from sklearn.tree import DecisionTreeClassifier

DecisionTree = DecisionTreeClassifier(criterion="entropy",random_state=2,max_depth=5)

DecisionTree.fit(Xtrain,Ytrain)

predicted_values = DecisionTree.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('Decision Tree')
print("DecisionTrees's Accuracy is: ", x*100)

print(classification_report(Ytest,predicted_values))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

# Guassian Naive Bayes

In [3]:
from sklearn.naive_bayes import GaussianNB

NaiveBayes = GaussianNB()

NaiveBayes.fit(Xtrain,Ytrain)

predicted_values = NaiveBayes.predict(Xtest)
x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('Naive Bayes')
print("Naive Bayes's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

NameError: name 'Xtrain' is not defined

# Logistic Regression

In [4]:
from sklearn.linear_model import LogisticRegression

LogReg = LogisticRegression(random_state=2)

LogReg.fit(Xtrain,Ytrain)

predicted_values = LogReg.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('Logistic Regression')
print("Logistic Regression's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

NameError: name 'Xtrain' is not defined

# Random Forest

In [5]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=20, random_state=0)
RF.fit(Xtrain,Ytrain)

predicted_values = RF.predict(Xtest)

x = metrics.accuracy_score(Ytest, predicted_values)
acc.append(x)
model.append('RF')
print("RF's Accuracy is: ", x)

print(classification_report(Ytest,predicted_values))

NameError: name 'Xtrain' is not defined

## Accuracy Comparison

In [ ]:
N=int(input("enter the nitrogen value: "))
P=int(input("enter the phosporous value: "))
K=int(input("enter the potassium value: "))
temp=float(input("enter the temperature: "))
humi=float(input("enter the humidity: "))
ph=float(input("enter the ph of the soil: "))
rainfall=float(input("enter the rainfall: "))
data= np.array([[N,P,K,temp,humi,ph,rainfall]])
prediction=LogReg.predict(data)
print("The crop recommendation in this field is ",prediction)

In [ ]:
plt.figure(figsize=[10,5],dpi = 95)
plt.title('Accuracy Comparison')
plt.xlabel('Accuracy')
plt.ylabel('Algorithm')
sns.barplot(x = acc,y = model,palette='dark')

In [ ]:
accuracy_models = dict(zip(model, acc))
for k, v in accuracy_models.items():
    print (k, '-->', v)

## Making a prediction

In [ ]:
from sklearn.metrics import confusion_matrix , accuracy_score
cm = confusion_matrix(Ytest,predicted_values)
sns.heatmap(cm ,annot=True)

In [ ]:
N=int(input("enter the nitrogen value: "))
P=int(input("enter the phosporous value: "))
K=int(input("enter the potassium value: "))
temp=float(input("enter the temperature: "))
humi=float(input("enter the humidity: "))
ph=float(input("enter the ph of the soil: "))
rainfall=float(input("enter the rainfall: "))
data= np.array([[N,P,K,temp,humi,ph,rainfall]])
prediction=RF.predict(data)
print("The crop recommendation in this field is ",prediction)